<div id="carousel-image-picker" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% images.size.times do |picknum| %>
      <li data-target="#carousel-image-picker" data-slide-to=<%= picknum %>></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% images.each do |image| %>
      <div class="item">
        <%= show_thumbnail_for_editor(image) %>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-image-picker" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-image-picker" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
