<div id="carousel-content">
  <% images.each do |image| %>
    <%= show_thumbnail_for_editor(image) %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $("#carousel-content").smoothDivScroll({
      mousewheelScrolling: "allDirections",
      manualContinuousScrolling: true,
      autoScrollingMode: "onStart"
    });
  });
</script>
